.header-desktop-navigation, 
.header-logo-text-wrapper {
    margin: 30px;
}

.header-logo-text-wrapper{
    text-align: center;
}

.header-link-active{
    border-bottom: 4px solid white;
}

.header-desktop-navigation > *, 
.header-logo-text-wrapper > * {
    color: var(--mui-palette-secondary-main);
    vertical-align: middle;
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    text-align: center;
    font-size: large;
    font-weight: 600;
}

.header-mobile-navigation-menu-button{
    padding: 20px;
    margin: 8px;
    color: var(--mui-palette-secondary-main);
    cursor: pointer;
}
.header-mobile-navigation-wrapper {
    position: absolute;
    z-index: 20;
    max-height: 80vh;
    overflow-y: auto;
    background-color: var(--mui-palette-primary-main);
    width: inherit;
}
.header-mobile-navigation > *{
    text-align: center;
    padding: 15px;
    font-size: large;
    font-weight: 600;
}
.header-mobile-navigation > * > *{
    text-decoration: none;
    color: var(--mui-palette-secondary-main);
}
